.allCountries{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.countryCard{
  width: 200px;
  border-radius: 10px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.countryImg{
  height: 100px;
  width: 100px;
}